body {
  background-color: #202020;
  color: white;
}

.game {
  width: fit-content;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  display: flex;
  flex-direction: row;
  border-radius: 2rem;
  border: 1px solid white;
  overflow: hidden;
  animation: glow 2s ease-in-out infinite alternate;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  text-align: center;
  font-size: 50px;
  margin-top: 50px;
}

.square {
  color: white;
  background: #333;
  border: 1px solid white;
  float: left;
  font-size: 50px;
  font-weight: bold;
  height: 100px;
  width: 100px;
  text-align: center;
}

.square:focus {
  outline: none;
}

.btn{
  position: absolute;
  display: inline-block;
  left: 50%;
  transform: translateX(-50%);
  bottom: 50px;
  padding: 1rem;
  color: white;
  font-size: large;
  font-weight: bold;
  background-color: #333;
  border: none;
  cursor: pointer;
  overflow: hidden;
  transition: .5s;
}

.btn:hover{
  background: red;
  color: #fff;
  border-radius: 5px;
  animation: glow 1s ease-in-out infinite alternate;
}

.blue {
  text-shadow: 0 0 5px blue, 0 0 15px rgb(60, 60, 255), 0 0 25px rgb(120, 120, 255);
}

.red {
  text-shadow: 0 0 5px red, 0 0 15px rgb(255, 60, 60), 0 0 25px rgb(255, 120, 120);
}

.green {
  text-shadow: 0 0 5px green, 0 0 15px rgb(60, 255, 60), 0 0 25px rgb(120, 255, 120);
}

.yellow {
  text-shadow: 0 0 5px yellow, 0 0 15px rgb(255, 255, 60), 0 0 25px rgb(255, 255, 120);
}

@keyframes glow{
  from{
    box-shadow: 0 0 5px blue, 0 0 15px rgb(60, 60, 255), 0 0 25px rgb(120, 120, 255);
  }
  to{
    box-shadow: 0 0 5px red, 0 0 15px rgb(255, 60, 60), 0 0 25px rgb(255, 120, 120);
  }
}

@media only screen and (max-width: 350px) {
  .square{
    width: 70px;
    height: 70px;
  }
}